label {
  display: inline-block;
  width: 4em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
div{
  margin-top: 0.3em
}

.weekdays-btns{
  padding:0;
  display: inline-block;
  margin: .5em 0;
}

.weekdays-btns li {
  list-style: none;
  display: inline-block;;
  cursor: pointer;
  background-color: #EEE;
  padding: 0.3em 0.5em;
  width: 2.5em;
  border-radius: 4px;
  text-align: center;
}

.weekdays-btns li.assignedDay {
  color: #039be5;
}

.weekdays-btns li.assignedDay:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.weekdays-btns li:hover {
  color: #607D8B;
  background-color: #DDD;
}

.detail{
  display:flex;
  align-items: center;
}

#notes-div{
  align-items: flex-start;
}

#notes{
  width: 30em;
  height: 20em;
  margin: .5em 0;
  font-size: 1em;
  padding: .4em;
}

span{
  margin: .5em 0;
}
