<h2>My Courses</h2>
<div>
  <label>Course name:</label>
  <input #courseName (keyup)="$event.keyCode == 13 ? add(courseName.value) : null" />
  <button (click)="add(courseName.value); courseName.value=''">
    Add
  </button>
</div>

<ul class="courses">
  <li *ngFor="let course of courses"
      [class.selected]="course === selectedCourse"
      (click)="onSelect(course)">
    <span class="badge">{{course.id}}</span>
    <span>{{course.name}}</span>
    <button class="delete"
            (click)="delete(course); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedCourse">
  <h2>
    {{selectedCourse.name | uppercase}} is selected.
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
